* {
    box-sizing: border-box;
  }
  :root {
    font-size: min(calc(1em + 1vw), 4em);
  }
  body {
    min-height: 100vh;
    font-family: sans-serif;
  }

  
  body > * {
    min-height: 1em;
  }
  header {
   
    border-bottom-style: solid;
    


   
    
  }
  header > h4 {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
    
   

  }


  header > button {
   background-color: ;
  }


  nav {

    border-bottom-style: solid;
    
    
    
  }

  main {
    
    border-style: solid;

  }

  section {
    background: rgb(30, 255, 0);
  }

  content2 {
    background: blueviolet ;
  }

  content3 {
    background: orange;
  }
  footer {
    border-top-style: solid;
  }
  