* {
    box-sizing: border-box;
  }
  :root {
    font-size: min(calc(1em + 1vw), 4em);
  }
  body {
    min-height: 100vh;
    font-family: sans-serif;
  }

  
  body > * {
    min-height: 1em;
  }
  /* ----------grid layout--------------------- */
  body {
    display :grid;
    row-gap: 5px;
    grid-template-columns: 4fr 2.9fr 4fr;
    grid-template-rows: 0.3fr 0.2fr 2fr 5fr 5fr 0.4fr;
    grid-template-areas:
    'h h h'
    'n n n'
    '. t .'
    '. m .'
    '. m .'
    'f f f'
    ;

  }  

/* --------------HEADER----------------------- */
  header {
   
    /* border-bottom-style: solid; */
    grid-area: h;
    display: grid;
    justify-content: left;
    align-content: center;
    grid-auto-flow: column;
      
  }

  header > h4 {
    position:relative;
    font-family: "Rigid Square";
    color: rgb(14, 14, 174);
    font-weight: 700;
    margin: 2em;
      

  }


  header > a {
    position:relative;
    font-family: "Rigid Square";
    color:  rgb(14, 14, 174);
    font-weight: 700;
    margin: 2em;
    


  
    /* right: 0;
    margin: 20px; */


  
   
  }

  header > p {
    color: white;
  }

  header > img {
    align-self: center;

  }

  

/* ----------------------NAV--------------------------------- */
  nav {
    grid-area: n;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: rgb(112, 112, 112);


    display: grid;
    justify-content: left;
    align-content: center;
    grid-auto-flow: column;
    gap: 0.5em;
    
    }


  nav > div {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
   
    
  }

  

  nav > p {
    /* display: inline-block; */
    /* align-self: auto; */
    
    display: grid;
    justify-content: center;
    opacity: 20%;
   
   
  }

/* ---------------------------MAIN---------------------------- */

  main {
  

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(20fr,20fr));
    margin: 0.5em;
    margin-top: 1em;
    row-gap: 2em;
    place-content: baseline;

    grid-area: m;

  }
/* ///////////top image////////////////// */
  
.topimage {
  margin-top: 4em;
  grid-area: t;
  text-align: center;
  
  
  
}

.topimage > img {  
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
   }

  .topimage > h4 {
    color: black;
    
  }

  /* /////////opmaak content main///////////////// */


  main > div {
    padding: 1em;
    position: relative;
    border-radius: 0.3em;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.3);
  
  }



/* --------------------------------------- */
.content1 > p {
  color: rgb(14, 14, 174);
  text-align: center; 
}

.content1 > a {
  color: rgb(57, 57, 57);
  font-size: 0.6em;
}

.content1 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

/* ----------------------------------------- */
.content2 > p {
  color:  rgb(14, 14, 174);
  text-align: center;
}

.content2 > a {
  color: rgb(57, 57, 57);
  font-size: 0.6em;
}

.content2 > i {
  font-size: 0.6em;
}

 /*-------------------------------------------  */

 .content3 > p {
  color:  rgb(14, 14, 174);
  text-align: center;
  
 }

 .content3 > a {
  color: rgb(57, 57, 57);
  font-size: 0.6em;
 }

 .content3 > div {
  position: absolute;
  bottom: 0;
  right: -11em;
  width: 10em;
 }

 
 





 /*-----------------------FOOTER------------------------------- */

  
  /* footer {
    border-top-style: solid;
    grid-area: f;
  } */
  